.info{
    text-align: left;
}

table {
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}

code.language-cpp{
    color: white;
}

#readme{
text-align: left;
}

.btn-es{
    background-color: #b3b3b3;
    color: white;
}

.btn-ct{
    background-color: #1a90f0;
    color: white;
}

.app_body {
    color: #fff;
    background-color: #ffffff;
}


.app_column {
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #505050;
    padding: 10px;
    border: solid;
    border-radius: 15px;
    border-color: gray;
    margin: 5px;
}

.nested_list {
    justify-content: left;
    align-items: left;
    margin: 20px;
    text-align: left;
}

.daisystyle {
    color: #fff;
    background-color: gray;
    padding: 10px;
    border: solid;
    border-radius: 15px;
    border-color: #ffb600;
    margin: 5px;

}

